.row{
    justify-content: center;

display: flex;

}
body{
    background-image: url('https://i.pinimg.com/600x315/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg');
}
#pawan{
    margin-top: 12px;
    width: 50vw;
}
.col-xs-12{
    border: 1px solid rgb(160, 153, 153);
    margin-top: 23vh;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
}
form{
    width: 100%;
}
.logo{
    height: 4em;
    margin-bottom: 1rem;
}
.rahul{
    display: flex;
justify-content: center;
}
.amazone{
    display: flex;
    justify-content: center;
}
#btn{
    color: black;
font-weight: 600;
border: 1px solid black;
border-radius: 11px;
margin: 0px;
display: flex;
justify-content: center;
margin-left: 39%;
padding: 0px;
width: 4em;
height: 3em;
padding-top: 11px;
padding-bottom: 6px;
}
#btn:hover{
    background-color: yellow;
    opacity: .9;
}
.para{
    font-size: 0.9rem;
font-weight: 600;
}
.para span{
    color: #0066c0;
    
}
/* .para p{
    margin: 0px 1em;
}
.help{
    margin: 0px 1em;
} */
/* .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
} */
/* .lable{
    margin-right: 4em;
} */
@media screen and (max-width:564px) {
    #pawan{
        width: 100%;
        margin-top: 12px;
    }
    
}